@import "bootstrap";

$ruby-color: #CA3633;
$php-color: #8893BD;
$javascript-color: gray;

#header-row {
  padding: 20px;
  color: #888;
  padding-left: 0px;

  #header-message {
    margin-top: 80px;
    margin-left: 20px;
    width: 500px;
  }
}

#ruby-column {
  border: dashed $ruby-color 1px;
  color: darken($ruby-color, 10%);
}

#php-column {
  border: dashed $php-color 1px;
  color: darken($php-color, 10%);
}

#javascript-column {
  border: dashed $javascript-color 1px;
  color: darken($javascript-color, 10%);
}

.col-sm-mini {
  width: 4.15%;
  float: left;
  min-height: 1px;
}

.project-column {
  height: 400px;
  float: left;

  .language-title {
    font-size: 30px;
  }

  .project-list {
    padding: 10px 20px;

    .project {
      margin-bottom: 16px;

      .project-name {
        font-size: 20px;
      }

      .project-summary {
        font-size: 12px;
      }
    }
  }
}
